# Keys
aws_key_pair/k8s-key.pem

# Ansible
ansible/inventories/hosts-k8s
ansible/inventories/hosts-k8s.yml

# Terraform
terraform/secrets.tfvars
terraform apply -var-file=secrets.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
